.blog-list-box {
  background: rgb(255, 255, 255);
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;

  overflow-wrap: anywhere;
  word-break: break-word;
}
.blog-list-box p {
  margin: 10px 0;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: normal;
}
h1{
    text-align: center;
}