.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu{
  display: flex;
  gap: 20px;
  padding-left: 400px;
  padding-right: 400px;

}
